name: Release

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:
  

jobs:
  build_and_release:
    name: Build and release
    runs-on: ubuntu-latest
    container: devkitpro/devkita64:latest

    steps:
      - name: Update packages
        run: |
          sudo -n apt-get update
          sudo -n apt-get upgrade -y git build-essential
          # Install system dependencies
          sudo -n apt-get install -y libfreetype6-dev libcurl4-openssl-dev libsdl2-dev libsdl2-image-dev
          # Update and install devkitpro packages
          (dkp-pacman -Syu || true)
          dkp-pacman -S --noconfirm switch-freetype switch-sdl2 switch-sdl2_image switch-libcurl switch-libjpeg-turbo switch-libpng switch-libwebp switch-minizip switch-libjson-c switch-tinyxml2
        shell: bash
      - name: Update latest libnx
        run: |
          git config --global --add safe.directory "*"
          git clone --recurse-submodules https://github.com/switchbrew/libnx.git
          cd libnx
          make install -j$(nproc)
        shell: bash
      - name: Checkout latest code
        uses: actions/checkout@v4.2.2
        with:
          ref: master
          clean: true
          fetch-depth: 0
          fetch-tags: true
          submodules: recursive
      - name: Setup ENV parameters
        run: |
          VER_FILE=Makefile
          VERSION=$(awk '/^APP_VERSION/{print $3}' $VER_FILE)
          echo "TAG=v${VERSION}" > "${GITHUB_ENV}"
          echo "RELEASE_NAME=JKSV v${VERSION}" >> "${GITHUB_ENV}"
        shell: bash
      - name: Build
        run: |
          export DEVKITPRO=/opt/devkitpro
          make -j$(nproc)
        shell: bash
      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2.0.9
        with:
          name: ${{ env.RELEASE_NAME }}
          tag_name: ${{ env.TAG }}
          draft: false
          prerelease: false
          generate_release_notes: yes
          make_latest: true
          files: |
            ./JKSV.nro
